@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="Index" >
    <label>Nhập điểm a:</label>
    <input tybe="text" name="Điểm A">
   <label>Nhập điểm B:</label>
   <input type="text" name="Điểm B">
   <label>Nhập điểm C:</label>
   <input type="text" name="Điểm C">
   <input type="submit" value="Tính Grade">

</form>

<h1>@ViewBag.Message</h1>