@{
    ViewData["Title"] = "Home Page";
}

<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoPerson</h1>

<form asp-action="Index" method="post">
    <label>Nhập số lượng:</label>
    <input type="number" name="Số lượng" required />
    <br />

    <label>Nhập đơn giá:</label>
    <input type="number" name="Đơn giá" required />
    <br />

    <input type="submit" value="Tính tiền">
</form>

<h1>@ViewBag.Message</h1>

